.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-color: white;
    border-radius: 2%;
    background-color: rgba(223, 223, 223, 0.85);
    margin: 50px;
}

.section-class {
    justify-content: center;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

#header {
    text-align: center;
}

.submit-btn {
    background-color: white;
    border-color: white;
    padding: 12px;
}

body {
    background-image: url("img/red-bg.jpg");
    background-repeat:round 
}

label {
    font-size: 20px;
}


